{% extends "base.html" %}

{% block title %}{{ 'Editar' if stock else 'Nuevo' }} Stock{% endblock %}

{% block content %}
<h1>{{ 'Editar' if stock else 'Nuevo' }} Stock</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.cantidad.label(class="form-label") }}
        {{ form.cantidad(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.ubicacion.label(class="form-label") }}
        {{ form.ubicacion(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.equipo_id.label(class="form-label") }}
        {{ form.equipo_id(class="form-control") }}
    </div>
    <div class="form-group mt-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
